body {
	margin: 0;
}

.THREEJS-MAIN {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

#debug-text {
	position: absolute;
	top: 0;
	left: 0;
	font-family: Cascadia Code, systme-ui;
	font-weight: 500;
	background-color: #0004;
	color: #fffa;
	padding: 4px;
	display: flex;
	flex-direction: column;
}